<button mat-raised-button id="bg" color="primary">Background</button>
<p></p>
<button mat-raised-button color="primary">Left</button>
<p></p>
<button mat-raised-button color="primary">Center</button>
<p></p>
<button mat-raised-button color="primary">Right</button>
<p></p>
<button mat-raised-button class="meta" color="primary">Meta world left</button>
<p></p>
<button mat-raised-button class="meta" color="primary">Meta world center</button>
<p></p>
<button mat-raised-button class="meta" color="primary">Meta world right</button>
<p></p>
<button mat-raised-button class="smaller" color="primary">Generate</button>
<p></p>
<button mat-raised-button class="smaller" color="primary">Text</button>
<p></p>
<button mat-raised-button class="smaller" color="primary">Settings</button>

