<div style="float: left">
  <button (click)="showBackgrounds()" mat-raised-button  id="background" color="primary">
    <cite id='bg' class='bgempty'>
    <img *ngIf="buttonBg" [src]="buttonBg"></cite>Background</button>
  <p></p>
  <button (click)="showCharLeft()" mat-raised-button class="mainButton"><cite class='chempty'></cite>Left</button>
  <p></p>
  <button mat-raised-button class="mainButton"><cite class='chempty'></cite>Center</button>
  <p></p>
  <button mat-raised-button class="mainButton"><cite class='chempty'></cite>Right</button>
  <p></p>
  <button mat-raised-button class="meta"><cite class='chempty'></cite>Meta world left</button>
  <p></p>
  <button mat-raised-button class="meta"><cite class='chempty'></cite>Meta world center</button>
  <p></p>
  <button mat-raised-button class="meta"><cite class='chempty'></cite>Meta world right</button>
  <p></p>
  <button mat-raised-button class="smaller">Generate</button>
  <p></p>
  <button mat-raised-button class="smaller">Text</button>
  <p></p>
  <button mat-raised-button class="smaller">Settings</button>
</div>

<div *ngIf="showBg" style=" left: 15em; padding: 1em; position: absolute;">
  <app-chooser (selectedBackground)="onBackgroundSelected($event)"></app-chooser>
</div>

<div *ngIf="charLeft" style=" left: 15em; padding: 1em; position: absolute;">
  <app-character-chooser></app-character-chooser>
</div>
